@model IEnumerable<Vidli.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
<br /><br />

<table id="customers" class="table	table-bordered	table-hover">
    <thead>
    <tr>
        <th>Customer</th>
        <th>Membership Type</th>
        <th>Delete Customer</th>
    </tr>
    </thead> 
    <tbody>

    </tbody>
</table>


@*add jquery code*@

@section scripts
{
    <script>
        $(document).ready(function () {
            // using data table
            //also use api for source of dataTable and after that we dont need foreach block for rendering data from server
            //but table should be above for placeholder,
            //also we dont need the list of customer in controller as we are gettinng data from api
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, customer) {
                            return "<a href='/customers/details/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.membershipName"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }

                ]
            });

            //

            //change the on click by using the class as filter to make it more efficient
            $("#customers ").on("click", ".js-delete", function () {

                var btn = $(this);
                //using bootbox: as bootbox doesnt return boolean we cant use if here, instead it takes a callabck function 
                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    //if the result has true value i.e not null or undefined we make ajax call
                    if (result) {
                        //we call the api for delete using jQuery ajax call by passing an object
                        $.ajax({
                            //first we set the url like api/customers/id
                            //for id we can get it from button by data attribute
                            url: "/api/customers/" + btn.attr("data-customer-id"),

                            method: "DELETE",
                            success: function() {
                                //console.log("Success!");
                                //to remove the particular row of that button click
                                 //btn.parents("tr").remove();
                                //to remove entire row from data table
                                table.row(btn.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
                
            });
        });
    </script>
}